@import "../../variables";
.feature {
  width: 100%;

  &__container {
    display: flex;
    gap: 20px;

    h1 {
      color: #fff;
      font-family: Manrope;
      font-size: 24px;
      font-style: normal;
      font-weight: 800;
      padding: 15px 0px;
    }

    p {
      color: #81afdd;
      font-family: "Manrope";
      font-size: 16px;
      font-style: normal;
      font-weight: 500;
      line-height: 187.5%;
      width: auto;
    }

    &-r {
      align-items: center;
      justify-content: space-between;
      padding: 10px;
      p {
        width: 70%;
      }
    }

    &-c {
      flex-direction: column;
    }
  }

  &__header {
    div {
      width: 38px;
      height: 3px;
      flex-shrink: 0;
      background: $gradient-bar;
    }
  }
}

@media screen and (max-width: 600px) {
  .feature__container-r {
    flex-direction: column;
    align-items: unset;
    justify-content: unset;
    padding: 40px;
    p {
      width: 100%;
    }
  }
}

@media screen and (max-width: 992px) {
}
