@import "../../variables";

.possibilities {
  width: 100%;

  &__container {
    width: 1400px;
    margin: 0 auto;
    display: flex;
    align-items: flex-end;
    margin-top: 50px;
  }

  &__content {
    padding: 20px 150px 40px 70px;
    p:nth-of-type(1) {
      color: #71e5ff;
      font-family: Manrope;
      font-size: 16px;
      font-style: normal;
      font-weight: 500;
      line-height: 30px; /* 187.5% */
    }

    p:nth-of-type(2) {
      color: #81afdd;
      font-family: Manrope;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 30px; /* 187.5% */
      margin-bottom: 10px;
      margin-bottom: 30px;
    }

    p:nth-of-type(3) {
      color: #ff8a71;
      font-family: Manrope;
      font-size: 16px;
      font-style: normal;
      font-weight: 500;
      line-height: 30px; /* 187.5% */
      cursor: pointer;
    }
    h1 {
      background: $gradient-text;
      -webkit-background-clip: text;
      background-clip: text;
      -webkit-text-fill-color: transparent;
      font-family: "Manrope";
      font-size: 34px;
      font-style: normal;
      font-weight: 800;
      line-height: 45px; /* 132.353% */
      margin-bottom: 25px;
    }
  }

  &__img {
    width: 546px;
    height: 607.527px;
    flex-shrink: 0;
    img {
      width: 100%;
      height: 100%;
    }
  }
}

@media screen and (max-width: 992px) {
  .possibilities {
    &__container {
      padding: 2rem;
      width: 100vw;
      align-items: center;
      justify-content: center;
      flex-direction: column;
    }

    &__content {
      padding: 2rem;
    }

    &__img {
      width: 100%;
      height: 100%;
    }
  }
}
