@import "../../variables";
.blog {
  width: 1400px;
  margin: 0 auto;

  h1 {
    background: $gradient-text;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: Manrope;
    font-size: 62px;
    font-style: normal;
    font-weight: 800;
    line-height: 75px; /* 120.968% */
    letter-spacing: -2.48px;
    width: 50%;
    margin-bottom: 100px;
  }
  &__container {
    width: 1400px;
    margin: 0 auto;
    height: 700px;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 50px;
  }

  &__content {
    background-color: $color-footer;
    height: 60%;
    padding: 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    h2 {
      color: #fff;
      font-size: 25.11px;
      font-style: normal;
      font-weight: 800;
      line-height: 30.287px; /* 120.619% */
    }

    p:nth-of-type(1) {
      color: #fff;
      font-family: Manrope;
      font-size: 11.649px;
      font-style: normal;
      font-weight: 700;
      line-height: 34.947px; /* 300% */
    }

    p:nth-of-type(2) {
      color: #fff;
      font-family: Manrope;
      font-size: 11.649px;
      font-style: normal;
      font-weight: 700;
      line-height: 34.947px; /* 300% */
    }
  }
  div:nth-of-type(1) {
    grid-row-start: 1;
    grid-row-end: 3;
  }

  &__img {
    width: 100%;
    height: 40%;

    img {
      object-fit: cover;
      width: 100%;
      height: 100%;
    }
  }
}
@media screen and (max-width: 992px) {
  .blog {
    width: 80vw;
    display: flex;
    flex-direction: column;

    h1 {
      width: 100%;
    }

    &__container {
      width: 80vw;
      display: flex;
      flex-direction: column;
    }
  }
}
